Unidad_04/Actividad_04_03/Ejercicio1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="etiqueta">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="calle" type="xs:string"/>
                <xs:element name="pais" type="xs:string"/>
                <xs:element name="codigo" type="xs:integer"/>
                <xs:element name="nombre" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>