Unidad_04/Actividad_04_03/Ejercicio2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="receta">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="titulo"/>
                <xs:element name="ingrediente" minOccurs="1" maxOccurs="unbounded"/>
                <xs:element name="procedimiento" minOccurs="1" maxOccurs="unbounded"/>
                <xs:element name="tiempo"  minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>